:root {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, Cantarell, Ubuntu, roboto, noto, helvetica, arial, sans-serif;
}

*, *:before, &:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
}

#root {
  display: flex;
  min-height: 100vh;
}

aside {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 300px;
  padding: 30px;
  flex-shrink: 0;
  background-color: #e5e5e5;
}

main {
  padding: 30px;
  flex-grow: 1;
}