.flex-1 {
  flex: 1 1 0%;
}

.flex-auto {
  flex: 1 1 auto;
}

.flex-none {
  flex: none;
}

.grow {
  flex-grow: 1;
}

.no-grow {
  flex-grow: 0;
}

.shrink {
  flex-shrink: 1;
}

.no-shrink {
  flex-shrink: 0;
}
