:root {
  --nadir-font-size-xs:  0.694rem;
  --nadir-font-size-sm:  0.883rem;
  --nadir-font-size-md:  1rem;
  --nadir-font-size-lg:  1.2rem;
  --nadir-font-size-xl:  1.44rem;
  --nadir-font-size-2xl: 1.728rem;
  --nadir-font-size-3xl: 2.074rem;
  --nadir-font-size-4xl: 2.488rem;
  --nadir-font-size-5xl: 2.986rem;
}

.nadir_fs-xs {
  font-size: var(--nadir-font-size-xs)
}

.nadir_fs-sm {
  font-size: var(--nadir-font-size-sm)
}

.nadir_fs-md {
  font-size: var(--nadir-font-size-md)
}

.nadir_fs-lg {
  font-size: var(--nadir-font-size-lg)
}

.nadir_fs-xl {
  font-size: var(--nadir-font-size-xl)
}

.nadir_fs-2xl {
  font-size: var(--nadir-font-size-2xl)
}

.nadir_fs-3xl {
  font-size: var(--nadir-font-size-3xl)
}

.nadir_fs-4xl {
  font-size: var(--nadir-font-size-4xl)
}

.nadir_fs-5xl {
  font-size: var(--nadir-font-size-5xl)
}
