:root {
  --nadir-space-5: 0.3125rem;
  --nadir-space-10: 0.625rem;
  --nadir-space-20: 1.25rem;
  --nadir-space-30: 1.875rem;
  --nadir-space-40: 2.5rem;
  --nadir-space-50: 3.125rem;
  --nadir-space-60: 3.75rem;
  --nadir-space-70: 4.375rem;
  --nadir-space-80: 5rem;
  --nadir-space-90: 5.625rem;
  --nadir-space-100: 6.25rem;
  --nadir-space-110: 6.875rem;
  --nadir-space-120: 7.5rem;
  --nadir-space-130: 8.125rem;
  --nadir-space-140: 8.75rem;
  --nadir-space-150: 9.375rem;
  --nadir-space-160: 10rem;
  --nadir-space-170: 10.625rem;
  --nadir-space-180: 11.25rem;
  --nadir-space-190: 11.875rem;
  --nadir-space-200: 12.5rem; 
}

.nadir_gap-5,
.nadir_gap-xs {
  gap: var(--nadir-space-5);
}

.nadir_gap-10,
.nadir_gap-sm {
  gap: var(--nadir-space-10);
}

.nadir_gap-20,
.nadir_gap-md {
  gap: var(--nadir-space-20);
}

.nadir_gap-30,
.nadir_gap-lg {
  gap: var(--nadir-space-30);
}

.nadir_gap-40,
.nadir_gap-xl {
  gap: var(--nadir-space-40);
}

.nadir_gap-50,
.nadir_gap-2xl {
  gap: var(--nadir-space-50);
}

.nadir_gap-60,
.nadir_gap-3xl {
  gap: var(--nadir-space-60);
}

.nadir_gap-70 {
  gap: var(--nadir-space-70);
}

.nadir_gap-80 {
  gap: var(--nadir-space-80);
}

.nadir_gap-90 {
  gap: var(--nadir-space-90);
}

.nadir_gap-100 {
  gap: var(--nadir-space-100);
}

.nadir_gap-110 {
  gap: var(--nadir-space-110);
}

.nadir_gap-120 {
  gap: var(--nadir-space-120);
}

.nadir_gap-130 {
  gap: var(--nadir-space-130);
}

.nadir_gap-140 {
  gap: var(--nadir-space-140);
}

.nadir_gap-150 {
  gap: var(--nadir-space-150);
}

.nadir_gap-160 {
  gap: var(--nadir-space-160);
}

.nadir_gap-170 {
  gap: var(--nadir-space-170);
}

.nadir_gap-180 {
  gap: var(--nadir-space-180);
}

.nadir_gap-190 {
  gap: var(--nadir-space-190);
}

.nadir_gap-200 {
  gap: var(--nadir-space-200);
}

.nadir_mb-5,
.nadir_mb-xs {
  margin-bottom: var(--nadir-space-5);
}

.nadir_mb-10,
.nadir_mb-sm {
  margin-bottom: var(--nadir-space-10);
}

.nadir_mb-20,
.nadir_mb-md {
  margin-bottom: var(--nadir-space-20);
}

.nadir_mb-30,
.nadir_mb-lg {
  margin-bottom: var(--nadir-space-30);
}

.nadir_mb-40,
.nadir_mb-xl {
  margin-bottom: var(--nadir-space-40);
}

.nadir_mb-50,
.nadir_mb-2xl {
  margin-bottom: var(--nadir-space-50);
}

.nadir_mb-60,
.nadir_mb-3xl {
  margin-bottom: var(--nadir-space-60);
}

.nadir_mb-70 {
  margin-bottom: var(--nadir-space-70);
}

.nadir_mb-80 {
  margin-bottom: var(--nadir-space-80);
}

.nadir_mb-90 {
  margin-bottom: var(--nadir-space-90);
}

.nadir_mb-100 {
  margin-bottom: var(--nadir-space-100);
}

.nadir_mb-110 {
  margin-bottom: var(--nadir-space-110);
}

.nadir_mb-120 {
  margin-bottom: var(--nadir-space-120);
}

.nadir_mb-130 {
  margin-bottom: var(--nadir-space-130);
}

.nadir_mb-140 {
  margin-bottom: var(--nadir-space-140);
}

.nadir_mb-150 {
  margin-bottom: var(--nadir-space-150);
}

.nadir_mb-160 {
  margin-bottom: var(--nadir-space-160);
}

.nadir_mb-170 {
  margin-bottom: var(--nadir-space-170);
}

.nadir_mb-180 {
  margin-bottom: var(--nadir-space-180);
}

.nadir_mb-190 {
  margin-bottom: var(--nadir-space-190);
}

.nadir_mb-200 {
  margin-bottom: var(--nadir-space-200);
}

.nadir_mt-5,
.nadir_mt-xs {
  margin-top: var(--nadir-space-5);
}

.nadir_mt-10,
.nadir_mt-sm {
  margin-top: var(--nadir-space-10);
}

.nadir_mt-20,
.nadir_mt-md {
  margin-top: var(--nadir-space-20);
}

.nadir_mt-30,
.nadir_mt-lg {
  margin-top: var(--nadir-space-30);
}

.nadir_mt-40,
.nadir_mt-xl {
  margin-top: var(--nadir-space-40);
}

.nadir_mt-50,
.nadir_mt-2xl {
  margin-top: var(--nadir-space-50);
}

.nadir_mt-60,
.nadir_mt-3xl {
  margin-top: var(--nadir-space-60);
}

.nadir_mt-70 {
  margin-top: var(--nadir-space-70);
}

.nadir_mt-80 {
  margin-top: var(--nadir-space-80);
}

.nadir_mt-90 {
  margin-top: var(--nadir-space-90);
}

.nadir_mt-100 {
  margin-top: var(--nadir-space-100);
}

.nadir_mt-110 {
  margin-top: var(--nadir-space-110);
}

.nadir_mt-120 {
  margin-top: var(--nadir-space-120);
}

.nadir_mt-130 {
  margin-top: var(--nadir-space-130);
}

.nadir_mt-140 {
  margin-top: var(--nadir-space-140);
}

.nadir_mt-150 {
  margin-top: var(--nadir-space-150);
}

.nadir_mt-160 {
  margin-top: var(--nadir-space-160);
}

.nadir_mt-170 {
  margin-top: var(--nadir-space-170);
}

.nadir_mt-180 {
  margin-top: var(--nadir-space-180);
}

.nadir_mt-190 {
  margin-top: var(--nadir-space-190);
}

.nadir_mt-200 {
  margin-top: var(--nadir-space-200);
}

.nadir_mr-5,
.nadir_mr-xs {
  margin-right: var(--nadir-space-5);
}

.nadir_mr-10,
.nadir_mr-sm {
  margin-right: var(--nadir-space-10);
}

.nadir_mr-20,
.nadir_mr-md {
  margin-right: var(--nadir-space-20);
}

.nadir_mr-30,
.nadir_mr-lg {
  margin-right: var(--nadir-space-30);
}

.nadir_mr-40,
.nadir_mr-xl {
  margin-right: var(--nadir-space-40);
}

.nadir_mr-50,
.nadir_mr-2xl {
  margin-right: var(--nadir-space-50);
}

.nadir_mr-60,
.nadir_mr-3xl {
  margin-right: var(--nadir-space-60);
}

.nadir_mr-70 {
  margin-right: var(--nadir-space-70);
}

.nadir_mr-80 {
  margin-right: var(--nadir-space-80);
}

.nadir_mr-90 {
  margin-right: var(--nadir-space-90);
}

.nadir_mr-100 {
  margin-right: var(--nadir-space-100);
}

.nadir_mr-110 {
  margin-right: var(--nadir-space-110);
}

.nadir_mr-120 {
  margin-right: var(--nadir-space-120);
}

.nadir_mr-130 {
  margin-right: var(--nadir-space-130);
}

.nadir_mr-140 {
  margin-right: var(--nadir-space-140);
}

.nadir_mr-150 {
  margin-right: var(--nadir-space-150);
}

.nadir_mr-160 {
  margin-right: var(--nadir-space-160);
}

.nadir_mr-170 {
  margin-right: var(--nadir-space-170);
}

.nadir_mr-180 {
  margin-right: var(--nadir-space-180);
}

.nadir_mr-190 {
  margin-right: var(--nadir-space-190);
}

.nadir_mr-200 {
  margin-right: var(--nadir-space-200);
}

.nadir_ml-5,
.nadir_ml-xs {
  margin-left: var(--nadir-space-5);
}

.nadir_ml-10,
.nadir_ml-sm {
  margin-left: var(--nadir-space-10);
}

.nadir_ml-20,
.nadir_ml-md {
  margin-left: var(--nadir-space-20);
}

.nadir_ml-30,
.nadir_ml-lg {
  margin-left: var(--nadir-space-30);
}

.nadir_ml-40,
.nadir_ml-xl {
  margin-left: var(--nadir-space-40);
}

.nadir_ml-50,
.nadir_ml-2xl {
  margin-left: var(--nadir-space-50);
}

.nadir_ml-60,
.nadir_ml-3xl {
  margin-left: var(--nadir-space-60);
}

.nadir_ml-70 {
  margin-left: var(--nadir-space-70);
}

.nadir_ml-80 {
  margin-left: var(--nadir-space-80);
}

.nadir_ml-90 {
  margin-left: var(--nadir-space-90);
}

.nadir_ml-100 {
  margin-left: var(--nadir-space-100);
}

.nadir_ml-110 {
  margin-left: var(--nadir-space-110);
}

.nadir_ml-120 {
  margin-left: var(--nadir-space-120);
}

.nadir_ml-130 {
  margin-left: var(--nadir-space-130);
}

.nadir_ml-140 {
  margin-left: var(--nadir-space-140);
}

.nadir_ml-150 {
  margin-left: var(--nadir-space-150);
}

.nadir_ml-160 {
  margin-left: var(--nadir-space-160);
}

.nadir_ml-170 {
  margin-left: var(--nadir-space-170);
}

.nadir_ml-180 {
  margin-left: var(--nadir-space-180);
}

.nadir_ml-190 {
  margin-left: var(--nadir-space-190);
}

.nadir_ml-200 {
  margin-left: var(--nadir-space-200);
}
